{:paths
 ["src" "test" "resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"}

  ;; Data visualization
  metasoarous/oz {:mvn/version "1.6.0-alpha6"}

  ;; Data extraction
  org.clojure/data.csv {:mvn/version "1.0.0"}
  semantic-csv         {:mvn/version "0.2.1-alpha1"}
  dk.ative/docjure     {:mvn/version "1.13.0"}
  metosin/jsonista     {:mvn/version "0.2.5"}}

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps  {org.clojure/test.check {:mvn/version "0.10.0"}}}

  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha     "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
   :main-opts  ["-m" "cognitect.test-runner"
                "-d" "test"]}

  :uberjar
  {:extra-deps {seancorfield/depstar {:mvn/version "0.5.2"}}
   :main-opts  ["-m" "hf.depstar.uberjar" "covid19-dashboard.jar"
                "-C" "-m" "practicalli.covid19-dashboard"]}}}
